node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# Firebase / Env
.env
.env.local
.env.*.local

# Expo
.expo-shared/

# Generated
android/
ios/
